<div style="background-color: #505050; border-radius: 0.25rem !important;" class="create-task">
  <h5 style="text-align: center; color: #C0C0C0; font-style: italic; font-size: 25px">Create task</h5>
  <div class="position-absolute top-0 end-0 p-2">
    <button (click)="close()" type="button" class="btn btn-delete">
      <i class="fas fa-times" style="font-size: 25px; color: #C0C0C0"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg" style="margin: 0">{{msg}}</p>
    </div>
      <form #taskForm="ngForm" (ngSubmit)="create()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" [(ngModel)]="description"></textarea>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <div class="custom-select">
            <select class="form-control" id="status" name="status" [(ngModel)]="status" required>
              <option *ngFor="let status of statusOptions" [value]="status">{{status}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="priority">Priority</label>
          <div class="custom-select">
            <select class="form-control" id="priority" name="priority" [(ngModel)]="priority" required>
              <option *ngFor="let priority of priorityOptions" [value]="priority">{{priority}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input type="datetime-local" class="form-control" id="deadline" name="deadline" [(ngModel)]="deadline" required>
        </div>
        <div style="text-align: center;">
          <button style="margin-top: 15px; margin-bottom: -9px; background-color: #2C2C2C; font-weight: bold; border: none; border-radius: 1rem; font-size: 17px" type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
  </div>
</div>
