<div class="task-list">
  <div class="row custom-row flex-grow-1">
    <div class="col-md-4 d-flex flex-column custom-column">
      <div class="status-column not-started flex-grow-1">
        <h4 class="not-started text-center title-box">Not Started</h4> <hr class="custom-hr">
        <div *ngFor="let task of taskResponse">
          <div *ngIf="task.status === 'NOT_STARTED'">
            <app-project-task [task]="task" (taskDeleted)="onTaskDeleted($event)"></app-project-task>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column custom-column">
      <div class="status-column in-progress flex-grow-1">
        <h4 class="in-progress text-center title-box">In progress</h4> <hr class="custom-hr">
        <div *ngFor="let task of taskResponse">
          <div *ngIf="task.status === 'IN_PROGRESS'">
            <app-project-task [task]="task" (taskDeleted)="onTaskDeleted($event)"></app-project-task>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column custom-column">
      <div class="status-column completed flex-grow-1">
        <h4 class="completed text-center title-box">Completed</h4> <hr class="custom-hr">
        <div *ngFor="let task of taskResponse">
          <div *ngIf="task.status === 'COMPLETED'">
            <app-project-task [task]="task" (taskDeleted)="onTaskDeleted($event)"></app-project-task>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noTasks>
    <p>No tasks available.</p>
  </ng-template>
</div>
