<div class="container-fluid task-project">
  <div class="card-body">
    <strong>Name:</strong> {{ project.name }} <br>
    <strong>Description:</strong> {{ project.description }} <br>
    <strong>Manager:</strong> {{ project.manager?.firstname }} {{ project.manager?.lastname }} ({{ project.manager?.email }})
  </div>
  <div class="position-absolute top-0 end-0 p-2">
    <button (click)="closeProject()" type="button" class="btn btn-delete">
      <i class="fas fa-times" style="font-size: 25px"></i>
    </button>
  </div> <br>
  <div style="display: flex; justify-content: center; align-items: flex-end; padding-bottom: 10px; margin-top: auto;">
    <button (click)="quitProject()" type="button" style="background-color: transparent; border: none; cursor: pointer; color: #C0C0C0;">
      <em class="fas fa-sign-out-alt">&nbsp;Quit</em>
    </button>
  </div>
</div>
