.login-container h3 {
  color: #C0C0C0;
  font-weight: bold;
  padding-top: 15px;
}
.login-container .alert-danger {
  border-radius: 10px;
  border: 1px solid #C0C0C0;
}

.fa-google {
  color: #C0C0C0;
}

.btn-success {
  background-color: rgba(51, 153, 255, 0.5);
  border: none;
}

.login-container .form-label {
  font-weight: bold;
  color: #C0C0C0;
}

.login-container .form-control {
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  background-color: #C0C0C0;

  padding: 5px;
  font-size: 16px;
  color: #1E1E1E;
}

.login-container .btn-primary {
  background-color: #333333;
  border: none;
}


.login-container .btn-link {
  color: #C0C0C0;
  font-weight: bold;
  text-decoration: none;
}

.login-container .btn-link:hover {
  text-decoration: underline;
}

.register-text {
  font-size: 15px;
  color: #C0C0C0;
  font-weight: normal;
}

.fa-sign-in-alt {
  color: #C0C0C0;
}
