.btn-primary {
  background-color: transparent;
  border: none;
  font-size: 19px;
  color: #C0C0C0;
}

.btn-primary:active {
  border: 1px solid #C0C0C0;
  background-color: transparent;
}

.form-control {
  background-color: #C0C0C0;
}
