<div class="comments-page-container">
  <h5 style="text-align: center; color: #C0C0C0; font-style: italic">Comments</h5>
  <div class="position-absolute top-0 end-0 p-2">
    <button (click)="closeProject()" type="button" class="btn btn-delete">
      <i class="fas fa-times" style="font-size: 25px"></i>
    </button>
  </div>
  <hr>
  <ng-container *ngFor="let comment of comments">
    <app-my-comment *ngIf="comment.author?.email === localStorage.getItem('email')"
                    [comment]="comment"
                    (commentDelete)="onCommentDeleted($event)"
                    (commentUpdate)="onCommentUpdate($event)"></app-my-comment>
    <app-comment *ngIf="comment.author?.email !== localStorage.getItem('email')" [comment]="comment"></app-comment>
  </ng-container>
  <br>
  <div class="alert alert-danger" style="max-height: 75px; padding: 5px" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg" style="margin: 0">{{msg}}</p>
  </div>
  <div class="input-group" style="display: flex; align-items: center; width: 100%">
    <input [(ngModel)]="comment" type="text" class="form-control" id="comment"
           style="border-radius: 1rem 1rem 1rem 1rem; margin-right: 1px; flex: 13; border: 1px solid #C0C0C0; padding: 1px;">
    <button (click)="addComment()" type="button" class="btn btn-primary"
            style="border-radius: 1rem 1rem 1rem 1rem; flex: 1 auto; border: none; padding: 1px;">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>
</div>
